<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mortal Kombat Clone - Welcome</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/splash.css">
</head>
<body>
    <div id="screens">
        <div id="splashScreen">
            <h1>Vortex Kombat</h1>
            <p>Press Enter to Start</p>
        </div>
    </div>
    <script src="../js/splash.js"></script>
</body>
</html> 